
@model CAS.BOL.Appointments
@{
    ViewData["Title"] = "CreateorEdit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/javascript/site.js"></script>

<link href="~/css/doctors/doctors-create-edit.css" rel="stylesheet"/>

@if (TempData["ErrorMessage"] != null)
{
   <div class="alert alert-danger">@TempData["ErrorMessage"]</div>
}
<div class="container">
    <br />
    @{
        string titleText = string.Empty;
        if (Model.AppId > 0) titleText = "Edit Appointment";
        else titleText = "Create Appointment";
    }
    <h1>@titleText</h1>
    <br />
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="CreateorEdit">
                <input type="hidden" asp-for="AppId" />
                @if(Model.AppId > 0)
                {
                 <div class="row row-1">
                    <div class="col-md-2">
                       <label asp-for="AppNo" class="control-label"></label>
                    </div>
                    <div class="col-md-6">
                       <input asp-for="AppNo" class="form-control" />
                       <span asp-validation-for="AppNo" class="text-danger"></span>
                    </div>
                 </div>
                }
                
                <br />
                <div class="row row-1">
                    <div class="col-md-2">
                       <label asp-for="PId" class="control-label"></label>
                    </div>
                    <div class="col-md-6">
                      <select class= "form-control" asp-for="PId" asp-items="Model.PatientsList">
                        <option> ---  Select --- </option>
                      </select>
                    </div>
                </div>
                <br />
                <div class="row row-1">
                    <div class="col-md-2">
                       <label asp-for="DId" class="control-label"></label>
                    </div>
                    <div class="col-md-6">
                       <select class= "form-control" asp-for="DId" asp-items="Model.DoctorsList">
                         <option> ---  Select --- </option>
                       </select>
                    </div>
                </div>
                <br />
                @if(Model.AppId > 0)
                {
                    <div class="row row-1">
                        <div class="col-md-2">
                           <label asp-for="DateTime" class="control-label"></label>
                        </div>
                        <div class="col-md-6">
                           <input  asp-for="DateTime" id="datetime"  class="form-control" />
                           <span asp-validation-for="DateTime"  class="text-danger"></span>
                           <script>
                              var datetimeInput = document.getElementById("datetime");
                              var datetimeValue = '@Model.DateTime.ToString("yyyy-MM-ddTHH:mm")'; 
                              datetimeInput.value = datetimeValue;
                           </script>
                        </div>
                    </div>
                }
                else
                {
                        <div class="row row-1">
                            <div class="col-md-2">
                               <label asp-for="DateTime" class="control-label"></label>
                            </div>
                            <div class="col-md-6">
                               <input  asp-for="DateTime" id="datetime"  class="form-control" />
                               <span asp-validation-for="DateTime"  class="text-danger"></span>
                               <script>
                                  var datetimeInput = document.getElementById("datetime");
                                  var now = new Date();
                                  var currentDateTime = now.toISOString().slice(0, 20).replace('T', ' ');
                                  datetimeInput.value = currentDateTime;
                               </script>
                            </div>
                        </div>
                }
                
                <br />
                <div class="row row-1">
                    <div class="col-md-2">
                       <label asp-for="DrFee" class="control-label"></label>
                    </div>
                    <div class="col-md-6">
                      <input class="form-control" asp-for="DrFee" readonly />
                    </div>
                </div>
                <br />
                <div class="row row-1">
                    <div class="col-md-2">
                       <label asp-for="Discount" class="control-label"></label>
                    </div>
                    <div class="col-md-6">
                       <input asp-for="Discount" class="form-control" />
                       <span asp-validation-for="Discount" class="text-danger"></span>
                    </div>
                </div>
                <br />
                <div class="row row-1">
                    <div class="col-md-2">
                       <label asp-for="BillAmt" class="control-label"></label>
                    </div>
                    <div class="col-md-6">
                       <input asp-for="BillAmt" class="form-control" readonly />
                       <span asp-validation-for="BillAmt" class="text-danger"></span>
                    </div>
                </div>
                <br />
                <div class="form-group">
                    @{
                        string buttonText = string.Empty;
                        if (Model.PId > 0) buttonText = "Update";
                        else buttonText = "Create";
                    }
                    <button type="submit" id="btnSave" class="btn btn-primary">@buttonText</button>
                </div>
            </form>
            <hr />
        </div>
    </div>
</div>

 <script>
     $(document).ready(function () {

       $('#DId').change(function () {
            
         var selectedDoctorId = $(this).val();
         if (selectedDoctorId !== '') {
           $.ajax({
             url: '/Doctors/GetDrFee/' + selectedDoctorId,
             type: 'GET',
             success: function (fee) {
                 $('#DrFee').val(fee);
             },
             error: function () {
                 console.log('Error occurred.');
             }
           });
         }
       });
        $('#DId').change(function () {

         var selectedDoctorId = $(this).val();
         if (selectedDoctorId !== '') {
           $.ajax({
             url: '/Doctors/GetDrFee/' + selectedDoctorId,
             type: 'GET',
             success: function (fee) {
                 $('#BillAmt').val(fee);
             },
             error: function () {
                 console.log('Error occurred.');
             }
           });
         }
       });
       $('#Discount').change(function () {
          var discount = parseFloat($(this).val());
          var drFee = parseFloat($('#DrFee').val());

            if (!isNaN(discount) && !isNaN(drFee)) {
                var BillAmt = drFee - discount;
                $('#BillAmt').val(BillAmt.toFixed(2));
            }
       });
         $('#btnSave').click(function() {
           notyf.open ({ type:'success', message:'Appointment is saved.' });
         });
     });
 </script>

 

 




