
@model CAS.BOL.Patients
@{
    ViewData["Title"] = "CreateorEdit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/css/patients/patients-create-edit.css" rel="stylesheet"/>
@if (TempData["ErrorMessage"] != null)
{
   <div class="alert alert-danger">@TempData["ErrorMessage"]</div>
}
<div class="container">
    <br />
    @{
        string titleText = string.Empty;
        if (Model.PId > 0) titleText = "Edit Patient";
        else titleText="Create Patient";
    }
    <h1>@titleText</h1>
    <br />
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="CreateorEdit">
                <input type="hidden" asp-for="PId" />
                <div class="row row-1">
                    <div class="col-md-2">
                       <label asp-for="Name" class="control-label"></label>
                    </div>
                    <div class="col-md-6">
                       <input asp-for="Name" class="form-control" />
                       <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
                <br />
                <div class="row row-1">
                    <div class="col-md-2">
                       <label asp-for="Address" class="control-label"></label>
                    </div>
                    <div class="col-md-6">
                       <input asp-for="Address" class="form-control" />
                       <span asp-validation-for="Address" class="text-danger"></span>
                    </div>
                </div>
                <br />
                <div class="row row-1">
                    <div class="col-md-2">
                       <label asp-for="City" class="control-label"></label>
                    </div>
                    <div class="col-md-6">
                       <input asp-for="City" class="form-control" />
                       <span asp-validation-for="City" class="text-danger"></span>
                    </div>
                </div>
                <br />
                <div class="row row-1">
                    <div class="col-md-2">
                       <label asp-for="PhoneNo" class="control-label"></label>
                    </div>
                    <div class="col-md-6">
                       <input type="text" asp-for="PhoneNo" class="form-control" />
                       <span asp-validation-for="PhoneNo" class="text-danger"></span>
                    </div>
                </div>
                <br />
                <div class="form-group">
                  @{
                      string buttonText = string.Empty;
                      if (Model.PId > 0) buttonText = "Update";
                      else buttonText = "Create";
                   }
                    <button type="submit" class="btn btn-primary">@buttonText</button>
                </div>
            </form>
            <hr />
        </div>
    </div>
</div>


