@model CAS.BOL.Doctors
@{
    ViewData["Title"] = "CreateorEdit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/javascript/site.js"></script>

<link href="~/css/doctors/doctors-create-edit.css" rel="stylesheet"/>

@if (TempData["ErrorMessage"] != null)
{
  <div class="alert alert-danger">@TempData["ErrorMessage"]</div>
}
<div class="container">
    <br />
    @{
        string titleText = string.Empty;
        if (Model.DId > 0) titleText = "Edit Doctor";
        else titleText = "Create Doctor";
     }
    <h1>@titleText</h1>
    <br />
    <div>
        <script>
            function goBack() {
                window.location.href='/Doctors';
            }
        </script>
        <button type="button" class="btn btn-warning" onclick="goBack()">Back to List</button>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="CreateorEdit">
                <input type="hidden" asp-for="DId" />
                <div class="row row-1">
                    <div class="col-md-2">
                       <label asp-for="Name" class="control-label"></label>
                    </div>
                    <div class="col-md-6">
                       <input asp-for="Name" class="form-control" />
                       <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
                <br />
                <div class="row row-1">
                    <div class="col-md-2">
                       <label asp-for="Degree" class="control-label"></label>
                    </div>
                    <div class="col-md-6">
                       <select class="form-control" asp-for="Degree" asp-items="Model.DegreeList">
                        <option value="">-- Select Degree--</option>
                       </select>
                    </div>
                </div>
                <br />
                <div class="row row-1">
                    <div class="col-md-2">
                       <label asp-for="Speciallity" class="control-label"></label>
                    </div>
                    <div class="col-md-6">
                       <select class="form-control"  asp-for="Speciallity"  asp-items="Model.SpeciallityList">
                        <option value="">-- Select Speciallity--</option>
                       </select>
                    </div>
                </div>
                <br />
                 <div class="row row-1">
                    <div class="col-md-2">
                       <label asp-for="DrFee" class="control-label"></label>
                    </div>
                    <div class="col-md-6">
                       <input asp-for="DrFee" class="form-control" />
                       <span asp-validation-for="DrFee" class="text-danger"></span>
                    </div>
                </div>
                <br />
                <div class="row row-1">
                    <div class="col-md-2">
                       <label asp-for="PhoneNo" class="control-label"></label>
                    </div>
                    <div class="col-md-6">
                       <input type="text" asp-for="PhoneNo" class="form-control" />
                       <span asp-validation-for="PhoneNo" class="text-danger"></span>
                    </div>
                </div>
                <br />
                <div class="form-group">
                    @{
                        string buttonText = string.Empty;
                        if (Model.DId > 0)  buttonText = "Update";
                        else buttonText = "Create";
                    }
                    <button type="submit" id="btnSave" class="btn btn-primary">@buttonText</button>
                  
                </div>
                <br />
               
                 
            </form>
            <hr />
        </div>
    </div>
</div>

<script>
 $(document).ready(function () {
     $('#btnSave').click(function() {
         notyf.open ({ type:'success', message:'Doctor is saved.' });
     });
 });
</script>
   
